@tailwind base;
@tailwind components;
@tailwind utilities;

/* 42dot Sans */
@font-face {
  font-family: "42dot Sans";
  src: url("/fonts/42dot-sans/42dotsans-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "42dot Sans";
  src: url("/fonts/42dot-sans/42dotsans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "42dot Sans";
  src: url("/fonts/42dot-sans/42dotsans-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "42dot Sans";
  src: url("/fonts/42dot-sans/42dotsans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "42dot Sans";
  src: url("/fonts/42dot-sans/42dotsans-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
