@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "42dot Sans";
  src: url("https://42dot.ai/fonts/42dot-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "42dot Sans";
  src: url("https://42dot.ai/fonts/42dot-sans-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "42dot Sans";
  src: url("https://42dot.ai/fonts/42dot-sans-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
